html,

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: #222222;
  font-size: 1.5rem;
}

main {
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
}

